<div class="footer__container">
  <!-- Колонка 1: Навігація -->
  <nav class="footer__nav" aria-label="Footer navigation">
    <h3 class="footer__title">Pages</h3>
    <ul class="footer__menu">
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="index.html">Home</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="#">Product</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="#">Pricing</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="#">About</a>
      </li>
      <li class="footer__menu-item">
        <a class="footer__menu-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Колонка 2 -->
  <div class="footer__column">
    <h3 class="footer__title">Tomothy</h3>
    <ul class="footer__list">
      <li class="footer__list-item">Eleanor Edwards</li>
      <li class="footer__list-item">Ted Robertson</li>
      <li class="footer__list-item">Annette Russell</li>
      <li class="footer__list-item">Jennie Mckinney</li>
      <li class="footer__list-item">Gloria Richards</li>
    </ul>
  </div>

  <!-- Колонка 3 -->
  <div class="footer__column">
    <h3 class="footer__title">Jane Black</h3>
    <ul class="footer__list">
      <li class="footer__list-item">Philip Jones</li>
      <li class="footer__list-item">Product</li>
      <li class="footer__list-item">Colleen Russell</li>
      <li class="footer__list-item">Marvin Hawkins</li>
      <li class="footer__list-item">Bruce Simmsons</li>
    </ul>
  </div>

  <!-- Колонка 4: Контакти -->
  <div class="footer__contacts">
    <ul class="footer__contacts-list">
      <li class="footer__contacts-item">
        <img
          class="footer__contacts-icon"
          src="img/icons/location-white.png"
          alt="Location icon"
        />
        <span>7480 Mockingbird Hill undefined</span>
      </li>
      <li class="footer__contacts-item">
        <svg
          class="footer__contacts-icon"
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.3346 1.4585H11.668C9.24714 1.4585 7.29297 3.41266 7.29297 5.8335V29.1668C7.29297 31.5877 9.24714 33.5418 11.668 33.5418H23.3346C25.7555 33.5418 27.7096 31.5877 27.7096 29.1668V5.8335C27.7096 3.41266 25.7555 1.4585 23.3346 1.4585ZM20.418 30.6252H14.5846V29.1668H20.418V30.6252ZM25.1576 26.2502H9.84505V5.8335H25.1576V26.2502Z"
            fill="white"
          />
        </svg>

        <a href="tel:2395550108">(239) 555-0108</a>
      </li>
    </ul>

    <div class="footer__socials"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="partials/global/global.social-links-white.partial.html"
    ></div>
  </div>
</div>
