<section class="header-hero">
  <div class="header-hero__content">
    <h1 class="header-hero__title">The best products <br />start with Figma</h1>
    <p class="header-hero__subtitle">
      Most calendars are designed for teams. Slate is designed <br />
      for freelancer
    </p>
    <a class="header-hero__button" href="collection.html">Try For Free</a>
  </div>
  <!-- Поки ставлю фото тут, але потім мабуть краще зробити його фоном для header через CSS -->
  <div class="header-hero__image-wrapper">
    <img
      class="header-hero__image"
      src="img/index/header-hero-banner.jpg"
      alt="Creative people working together"
    />
  </div>
</section>
