<section class="highlight">
  <div class="highlight__content">
    <h2 class="highlight__title">Fastest way to <br /> organize</h2>
    <p class="highlight__subtitle">
      Most calendars are designed for teams. <br /> Slate is designed for freelancers
    </p>
    <a class="highlight__button" href="#">Try For Free</a>
  </div>

  <div class="highlight__image-wrapper">
    <img
      class="highlight__image"
      src="img/index/highlight-product-preview.png"
      alt="Product illustration"
    />
  </div>
</section>